.foodcard{
    cursor: pointer;
    display: flex;
    flex-direction: column;
    height: inherit;
    padding: 0;
    width: 200px;
    margin: 16px;
}
.foodcard>img{
    height: 220px;
}
.foodcard-title{
    font-weight: bolder;
    font-size: 20px;
    margin: 2px;
    padding-top: 2px;
}
.foodcard-rating{
    font-weight: bold;
    font-size: 18px;
    margin-left: 2px;
}
.foodcard-info{
    font-size: 15px;
    font-weight: lighter;
    color: grey;
    margin: 2px;
}