.header{
    display: flex;
    text-decoration: none;
    font-size: 20px;
    background-color: black;
    /* height: 5rem; */
    
}
.header>img{
    margin-top: 0.1rem;
    margin-left: 0.1rem;
    margin-bottom: 0.1rem;
    /* padding-left: 2rem; */
    height: 4rem;
    width: 4rem;
}
.nav-items{
    position: sticky;
    z-index: 1024;
    top: 66px;
    

}
.nav-items>ul{
    
        margin: 0;
        display: flex;
        list-style: none;
        cursor: pointer;
        box-shadow: 0 15px 10px -15px #1111112b;
        overflow-x: auto;
        
}
.nav-items>ul>li{
    
            
        display: inline-block;
        padding: 1rem 4rem;
        text-decoration: none;
        color: white;
        font-size: 20px;
        
        white-space: nowrap;

      
    
}
