.menu-header{
    display: flex;
    flex-wrap: wrap-reverse;
    background-color: whitesmoke;
}
.menu-header>img{
    width: 250px;
    height: 200px;
    margin: 10px;
    padding-left: 500px;
}



.menu-titleinfo{
    color: gray;
    font-weight: 520;
}