.search-container{
    margin-top: 2px;
    margin-left: 50px;
    padding-left: 15px;
    
}

.search-container>input{
    
    border-style: none;
    background-color: whitesmoke;
}
.search-container>button{
    background-color: black;
    color: white;
    cursor: pointer;
}